// @media (max-width: 1230px) {
//     .stats{
//         &__numbers{
//             justify-content: center;
//         }
//     }
// }
@media (min-width: 1200px) {
    .system{
        &__content{
            h3{
                font-size: 55px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container{
        padding: 0 30px;
    }
    .topbar{
        &__wrapper{
            align-items: center;
            justify-content: space-between;
        }
        &-nick{
            display: none;
        }
        &__menu{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100% ;
            display: block;
            overflow: hidden;
            width: 55%;
            background-color: #8123DB;
            margin: 0;
            padding-left: 15%;
            padding-top: 50%;
            color: black;
            flex-direction: column;
            align-items: center;
            transform: translateX(-100%);
            transition: 0.4s ease all;
            z-index: 10; 
            li{
                a{
                    display: inline-block;
                    color: black;
                }
            }
        }
        #burger{
            display: block;
        }
        
    }
    .active{
        transform: translateX(0%);
    }

    .header{
        padding-top: 113px;
        &__content{
            align-items: center;
            justify-content: center;
            padding-bottom: 150px;
            h1{
                font-size: 55px;
                text-align: center;
            }
        }
        
    }

    .stats{
        padding-top: 115px;
        &__title{
            font-size: 38px;
        }
        &__info{
            margin-top: 45px;
        }
    }

    .slider{
        padding-top: 55px;

    }

    .system{
        h3{
            font-size: 34px;
        }
    }

}


@media (max-width: 1000px) {
    .stats{
        &__numbers{
            flex-direction: column;
            align-items: center;
        }
    }
}


@media screen and (min-width: 530px) and (max-width: 768px) {
    .header{
        &__content{
            padding-bottom: 100px;
            h1{
                font-size: 55px;
                text-align: center;
            }
        }
        &__text{
            text-align: center;
        }
        
    }

    .stats{
        &__title{
            font-size: 24px;
            text-align: center;
        }
    }

    .slider{
        &__navigation{
            h3{
                font-size: 45px;
                text-align: center;
            }
        }
        &__title{
            text-align: center;
        }
    }

    .system{
        padding-top: 100px;
        &__content{
            h3{
                 font-size: 23px;
            }

        }
    }
}

@media screen and (min-width: 470px) and (max-width: 530px) {
    .header{
        &__content{
            padding-bottom: 70px;
            h1{
                font-size: 40px;
            }
        }
        &__text{
            max-width: 400px;
        }
        
    }

    .stats{
        padding-top: 70px;

        &__title{
            font-size: 18px;
            text-align: center;
        }
        &__numbers{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    .slider{
        &__navigation{
            h3{
                font-size: 45px;
                text-align: center;
            }
        }
        &__title{
            text-align: center;
        }
    }

    .system{
        padding-top: 100px;
        &__content{
            h3{
                 font-size: 16px;
            }

        }
    }

    .footer{
        &__wrapper{
            flex-direction: column;
            justify-content: left;
        }
        &__info{
            text-align: center;
        }
        &__menu-list{
            margin-top: 50px;
        }
    }
}


@media screen and (min-width: 320px) and (max-width: 470px) {
    .container{
        padding: 0 15px;
    }
    .header{
        padding-top: 72px;
        &__content{
            padding-bottom: 60px;
            h1{
                font-size: 26px;
            }
        }
        &__text{
            text-align: center;
        }
        
        &__content-btns{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__info-title{
            font-size: 15px;
        }

        &__brands{
            flex-direction: column;
            align-items: center;
        }
        
    }

    .stats{
        padding-top: 70px;
       
        &__title{
            font-size: 18px;
            text-align: center;
        }
        &__inner{
            width: 200px;
        }
        &__numbers{
            flex-direction: column;
            align-items: center;
            
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 36px;
            }
        }
        &__info{
            span{
                text-align: center;
            }
        }
    }


    .slider{
        &__navigation{
            h3{
                font-size: 35px;
                text-align: center;
            }
        }
        &__title{
            text-align: center;
        }
    }

    .system{
        padding-top: 60px;
        &__content{
            h3{
                text-align: center;
                font-size: 15px;
            }

        }
    }

    .footer{
        &__wrapper{
            flex-direction: column;
            justify-content: left;
        }
        &__info{
            text-align: center;
        }
        &__menu-list{
            margin-top: 50px;
        }
    }
}





