.system{
    padding-top: 162px;
    font-family: 'Poppins';
    &__content{
        text-align: center;
        h3{
            color: #8123DB;
        }
        a{
            margin-top: 60px;
            display: inline-block;
        }
    }
        
}